<nav class="navbar">
  <div class="navbar-brand">
    <a [routerLink]="authService.isAdmin() ? '/pos' : '/menu'">Sistema KDS</a>
  </div>

  <button class="hamburger-button" (click)="toggleMenu()">
    ☰
  </button>

  <div class="navbar-links-container" [class.is-active]="isMenuOpen">
    <div *ngIf="authService.isAdmin()" class="navbar-links">
      <a routerLink="/pos" routerLinkActive="active-link" (click)="closeMenu()">Punto de Venta</a>
      <a routerLink="/admin/products" routerLinkActive="active-link" (click)="closeMenu()">Admin Productos</a>
      <a routerLink="/kds" routerLinkActive="active-link" (click)="closeMenu()">Cocina (KDS)</a>
      <a routerLink="/admin/modifiers" routerLinkActive="active-link">Modificadores</a>
    </div>

    <div *ngIf="!authService.isAdmin()" class="navbar-links">
      <a routerLink="/menu" routerLinkActive="active-link" (click)="closeMenu()">Menú</a>
      <a routerLink="/mis-pedidos" routerLinkActive="active-link" (click)="closeMenu()">Mis Pedidos</a>
    </div>

    <div class="navbar-actions">
      <button (click)="logout()">Cerrar Sesión</button>
    </div>
  </div>
</nav>