<!-- src/app/pages/login/login.component.html -->

<div class="login-container">
  <h2>Iniciar Sesión</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Correo Electrónico o Teléfono</label>
      <input type="text" id="email" formControlName="email" placeholder="correo@ejemplo.com">
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-text">
        <small>Este campo es requerido.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" id="password" formControlName="password">
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-text">
        <small>La contraseña es requerida.</small>
      </div>
    </div>
    
    <!-- NUEVO: Enlace de recuperar contraseña movido aquí -->
    <div class="forgot-password-link">
        <a routerLink="/recuperar-contrasena">¿Olvidaste tu contraseña?</a>
    </div>

    <button type="submit" [disabled]="loginForm.invalid || isLoading">
      <span *ngIf="!isLoading">Ingresar</span>
      <span *ngIf="isLoading">Cargando...</span>
    </button>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </form>
  
  <!-- NUEVO: Contenedor para el enlace de registro -->
  <div class="register-link">
    ¿No tienes una cuenta? <a routerLink="/registro">Regístrate aquí</a>
  </div>
</div>
