<div class="form-container">
  <h2>Establecer Nueva Contraseña</h2>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="password">Nueva Contraseña</label>
      <input type="password" id="password" formControlName="password">
    </div>
    
    <button type="submit" [disabled]="resetForm.invalid || isLoading">
      <span *ngIf="!isLoading">Guardar Contraseña</span>
      <span *ngIf="isLoading">Guardando...</span>
    </button>

    <div *ngIf="message" [ngClass]="isError ? 'error-message' : 'success-message'">
      {{ message }}
    </div>
  </form>
</div>
