<div class="form-container">
  <h2>Recuperar Contraseña</h2>
  <p>Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Correo Electrónico</label>
      <input type="email" id="email" formControlName="email">
    </div>
    
    <button type="submit" [disabled]="forgotForm.invalid || isLoading">
      <span *ngIf="!isLoading">Enviar Enlace</span>
      <span *ngIf="isLoading">Enviando...</span>
    </button>

    <div *ngIf="message" [ngClass]="isError ? 'error-message' : 'success-message'">
      {{ message }}
    </div>
  </form>
  <div class="back-link">
    <a routerLink="/login">Volver a Iniciar Sesión</a>
  </div>
</div>
